FORMAT: 1A
HOST: http://gateway.dnajobs.cz/

# Hiri Mobile API

Hiri General API provides general Hiri functionality.
Hiri API is split into 3 separate parts: General Api, Admin Api and Testing API.

### API consumers

API consumers are called "Clients" and they must be registered. Each client
is given an id, name and secret key to access the API. The API can be accessed
by using HTTP Basic Authentication with your username and secret.

Each client is only served the data which belong to it. That means you
can't access other client's resources.

### User authentication

Hiri API Gateway implements OAuth2 standard for authenticating users. 
The users are stored centrally on Auth Server hidden behind the Gateway.

To access the API as a signed in user, you can use the OAuth2 Bearer token.
The API will recognize from which client is the request sent and feed the
data accordingly. You can't access data which were created by the user via
another client.

### Data formats

#### Response formats
Hiri API Gateway uses HATEOAS technology and its responses are in
application/hal+json format.
See http://stateless.co/hal_specification.html.

#### Errors
Any errors are described according to HTTP Problem draft, formatted as application/problem+json.
See https://tools.ietf.org/html/draft-nottingham-http-problem-07.

#### Dates
All dates are served in ISO 8601 format in UTC timezone.
ISO 8601 date formats in any timezone are accepted.

# Group Homepage

## Homepage [/api]

### Visit Homepage [GET]

+ Response 200 (application/hal+json)

        {
            "_links": {
                "candidates": {
                    "href": "/api/candidates"
                },
                "curies": [
                    {
                        "href": "http://hiri.app/rels/{rel}",
                        "name": "hiri",
                        "templated": "true"
                    }
                ],
                "hiri:companies": {
                    "href": "/api/companies"
                },
                "hiri:jobs": {
                    "href": "/api/jobs"
                },
                "hiri:me": {
                    "href": "/api/user/1"
                },
                "hiri:notifications": {
                    "href": "/api/notifications"
                },
                "self": {
                    "href": "/api/"
                }
            },
            "methods": "You can use GET, POST, PUT and DELETE methods to access resources.",
            "pagination": "You can use 'page' and 'limit' query parameters to paginate through collections.",
            "welcome": "Welcome to Hiri App!"
        }

# Group Auth

## Access Tokens [/oauth/token]

Request an access token from the API Gateway by POSTing a Client Credentials OAuth2 request.

Note: If you wish to log in as Candidate, use "candidate" as username and candidate's hash as password.

Authorize as a client by base64 encoding your client name and secret. The value of
the header should be "Authorization: Basic <token>" where token is base64 encoded string "<client>:<secret>".

The received access token is a JWT signed by the server. You can decode it and access additional information.

Warning: Don't forget to send Content-type header with value "application/json" or the server won't understand the data.

In order to refresh a token, set grant type to "refresh_token" and send your "client_id" instead of user's credentials.
Authorize with Basic method, base64 encoding your client id and client secrect.

To access resources, use the retrieved access token in yout HTTP Authorization Header like this: "Authorization: Bearer <access_token>".

### Retrieve Access Token [POST]

+ Request (application/json)

        {
            "grant_type": "password",
            "username": "bob",
            "password": "secret"
        }

+ Response 200 (application/json)

        {
            "access_token": "xxx",
            "refresh_token": "abcd123",
            "token_type": "bearer"
        }

+ Response 400 (application/json)

        {
            "error": "unsupported_grant_type",
            "error_description":"invalid grant type"
        }

+ Request (application/json)

        {
            "grant_type": "refresh_token",
            "refresh_token": "abcd123"
        }
        
+ Response 200 (application/json)

        {
            "access_token": "xxx",
            "token_type": "bearer"
        }


# Group Applications

Application is an entity representing real-world application to a Job Offer.

## Applications Collection [/api/applications?limit={limit}&page={page}&sort={sort}&state={state}]

+ Parameters
    + limit (number, optional) - Limits number of candidates returned in the request
    + page (number, optional) - Distance from beginning of the array of available candidates
    + sort (string, optional) - Sorts the result in the given order. The format for sort is "column+ASC,column+DESC"
    + state (string, optional) - Filters Applications by their state.

### List Applications [GET]

Retrieves list of all Applications.

+ Response 200 (application/hal+json)

        {
            "_embedded": {
                "applications": [
                    {
                        "id": 1,
                        "created": "2016-02-06T21:19:57+0100",
                        "state": "new",
                        "stars": 0,
                        "text": "I wanna be the very best, like noone ever was!",
                        "name": "John Doe",
                        "phone": "+420123456789",
                        "email": "john.doe@example.com",
                        "linkedin_link": "https://linkedin.com/abc/123",
                        "_links": {
                            "self": {
                                "href": "\/api\/applications\/1"
                            }
                        },
                        "_embedded": {
                            "candidate": {
                                "id": 1,
                                "created": "2016-02-06T21:19:57+0100",
                                "name": "John Doe",
                                "email": "john.doe@example.com",
                                "note": "Note",
                                "hash": "aaa-aaa-aaa",
                                "avatar": "4",
                                "_links": {
                                    "self": {
                                        "href": "\/api\/candidates\/1"
                                    },
                                    "job": {
                                        "href": "\/api\/jobs\/1"
                                    },
                                    "company": {
                                        "href": "\/api\/companies\/1"
                                    }
                                },
                                "_embedded": {
                                    "number_of_tests": 0,
                                    "number_of_completed_tests": 0,
                                    "last_completed_test_date": null,
                                    "state": "inactive",
                                    "contacts": []
                                }
                            },
                            "user": {
                                "id": 2,
                                "name": "John Doe",
                                "email": "john.doe@example.com",
                                "created": "2016-02-06T21:19:57+0100",
                                "_links": {
                                    "self": {
                                        "href": "\/api\/users\/2"
                                    },
                                    "companies": {
                                        "href": "\/api\/companies?user_id=2"
                                    },
                                    "language": {
                                        "href": "\/api\/languages\/cs"
                                    }
                                },
                                "_embedded": {
                                    "language": {
                                        "id": "cs",
                                        "_links": {
                                            "self": {
                                                "href": "\/api\/languages\/cs"
                                            }
                                        }
                                    }
                                }
                            },
                            "job_offer": {
                                "id": 1,
                                "created": "2016-02-06T21:19:57+0100",
                                "location_string": "Praha, \u010cesk\u00e1 republika",
                                "_links": {
                                    "self": {
                                        "href": "\/api\/job-offers\/1"
                                    },
                                    "company": {
                                        "href": "\/api\/companies\/1"
                                    },
                                    "job": {
                                        "href": "\/api\/jobs\/1"
                                    }
                                },
                                "_embedded": {
                                    "title": [],
                                    "description": [],
                                    "state": "awaiting-payment",
                                    "state_category": "category-waiting"
                                }
                            },
                            "application_state": {
                                "id": 1,
                                "order": 10,
                                "created": "2016-02-06T21:19:57+0100",
                                "_links": {
                                    "self": {
                                        "href": "\/api\/application-states\/1"
                                    }
                                },
                                "_embedded": {
                                    "title": {
                                        "en": "New",
                                        "cs": "Nov\u00fd"
                                    }
                                }
                            }
                        }
                    },
                    {
                        "id": 2,
                        "created": "2016-02-06T21:19:57+0100",
                        "state": "new",
                        "text": "I wanna be the very best, like noone ever was!",
                        "stars": 0,
                        "name": "John Doe",
                        "phone": "+420123456789",
                        "email": "john.doe@example.com",
                        "linkedin_link": "https://linkedin.com/abc/123",
                        "_links": {
                            "self": {
                                "href": "\/api\/applications\/2"
                            }
                        },
                        "_embedded": {
                            "candidate": {
                                "id": 2,
                                "created": "2016-02-06T21:19:57+0100",
                                "name": "John Doe",
                                "email": "john.doe@example.com",
                                "note": "Note",
                                "hash": "aaa-aaa-aaa",
                                "avatar": "4",
                                "_links": {
                                    "self": {
                                        "href": "\/api\/candidates\/2"
                                    },
                                    "job": {
                                        "href": "\/api\/jobs\/1"
                                    },
                                    "company": {
                                        "href": "\/api\/companies\/1"
                                    }
                                },
                                "_embedded": {
                                    "number_of_tests": 0,
                                    "number_of_completed_tests": 0,
                                    "last_completed_test_date": null,
                                    "state": "inactive",
                                    "contacts": []
                                }
                            },
                            "user": {
                                "id": 3,
                                "name": "John Doe",
                                "email": "john.doe@example.com",
                                "created": "2016-02-06T21:19:57+0100",
                                "_links": {
                                    "self": {
                                        "href": "\/api\/users\/3"
                                    },
                                    "companies": {
                                        "href": "\/api\/companies?user_id=3"
                                    },
                                    "language": {
                                        "href": "\/api\/languages\/cs"
                                    }
                                },
                                "_embedded": {
                                    "language": {
                                        "id": "cs",
                                        "_links": {
                                            "self": {
                                                "href": "\/api\/languages\/cs"
                                            }
                                        }
                                    }
                                }
                            },
                            "job_offer": {
                                "id": 1,
                                "created": "2016-02-06T21:19:57+0100",
                                "location_string": "Praha, \u010cesk\u00e1 republika",
                                "_links": {
                                    "self": {
                                        "href": "\/api\/job-offers\/1"
                                    },
                                    "company": {
                                        "href": "\/api\/companies\/1"
                                    },
                                    "job": {
                                        "href": "\/api\/jobs\/1"
                                    }
                                },
                                "_embedded": {
                                    "title": [],
                                    "description": [],
                                    "state": "awaiting-payment",
                                    "state_category": "category-waiting"
                                }
                            },
                            "application_state": {
                                "id": 2,
                                "order": 20,
                                "created": "2016-02-06T21:19:57+0100",
                                "_links": {
                                    "self": {
                                        "href": "\/api\/application-states\/2"
                                    }
                                },
                                "_embedded": {
                                    "title": {
                                        "en": "Active",
                                        "cs": "Aktivn\u00ed"
                                    }
                                }
                            }
                        }
                    },
                    {
                        "id": 3,
                        "created": "2016-02-06T21:19:57+0100",
                        "state": "new",
                        "stars": 0,
                        "text": "I wanna be the very best, like noone ever was!",
                        "name": "John Doe",
                        "phone": "+420123456789",
                        "email": "john.doe@example.com",
                        "linkedin_link": "https://linkedin.com/abc/123",
                        "_links": {
                            "self": {
                                "href": "\/api\/applications\/3"
                            }
                        },
                        "_embedded": {
                            "candidate": {
                                "id": 1,
                                "created": "2016-02-06T21:19:57+0100",
                                "name": "John Doe",
                                "email": "john.doe@example.com",
                                "note": "Note",
                                "hash": "aaa-aaa-aaa",
                                "avatar": "4",
                                "_links": {
                                    "self": {
                                        "href": "\/api\/candidates\/1"
                                    },
                                    "job": {
                                        "href": "\/api\/jobs\/1"
                                    },
                                    "company": {
                                        "href": "\/api\/companies\/1"
                                    }
                                },
                                "_embedded": {
                                    "number_of_tests": 0,
                                    "number_of_completed_tests": 0,
                                    "last_completed_test_date": null,
                                    "state": "inactive",
                                    "contacts": []
                                }
                            },
                            "user": {
                                "id": 2,
                                "name": "John Doe",
                                "email": "john.doe@example.com",
                                "created": "2016-02-06T21:19:57+0100",
                                "_links": {
                                    "self": {
                                        "href": "\/api\/users\/2"
                                    },
                                    "companies": {
                                        "href": "\/api\/companies?user_id=2"
                                    },
                                    "language": {
                                        "href": "\/api\/languages\/cs"
                                    }
                                },
                                "_embedded": {
                                    "language": {
                                        "id": "cs",
                                        "_links": {
                                            "self": {
                                                "href": "\/api\/languages\/cs"
                                            }
                                        }
                                    }
                                }
                            },
                            "job_offer": {
                                "id": 1,
                                "created": "2016-02-06T21:19:57+0100",
                                "location_string": "Praha, \u010cesk\u00e1 republika",
                                "_links": {
                                    "self": {
                                        "href": "\/api\/job-offers\/1"
                                    },
                                    "company": {
                                        "href": "\/api\/companies\/1"
                                    },
                                    "job": {
                                        "href": "\/api\/jobs\/1"
                                    }
                                },
                                "_embedded": {
                                    "title": [],
                                    "description": [],
                                    "state": "awaiting-payment",
                                    "state_category": "category-waiting"
                                }
                            },
                            "application_state": {
                                "id": 1,
                                "order": 10,
                                "created": "2016-02-06T21:19:57+0100",
                                "_links": {
                                    "self": {
                                        "href": "\/api\/application-states\/1"
                                    }
                                },
                                "_embedded": {
                                    "title": {
                                        "en": "New",
                                        "cs": "Nov\u00fd"
                                    }
                                }
                            }
                        }
                    }
                ]
            }
        }


### Create an Application [POST]

Creates an Application.

+ Request (application/json)

    + Attributes
        + job_offer (number, required) - ID of the Job Offer to which the User is applying.
        + text (string, required) - Text of the Application summarizing the candidate and why hs is suited for the Job.
        + attachments (array, optional) - Attachments of the Application
        + locality (string, optional) - Location of the User.
        + sign_on (string, optional) - When the user can sign on. The values are 'immediate', 'two-weeks', 'month', two-months', 'more-than-two-months'
        + required_salary (number, optional) - Required salary of the User.
        + email (string, optional) - Email of the Applicant. **Note: Required when User is not signed in.**
        + name (string, required) - Name of the Applicant.
        + phone (string, optional) - Phone of the Applicant.
        + linkedin_link (string, optional) - Linkedin Link of the Applicant.
        + why (string, required) - Motivational letter, why the Applicant should be hired.

    + Body

            {
                "job_offer": 1,
                "text": "I wanna be the very best, like noone ever was!",
                "name": "John Doe",
                "phone": "+420123456789",
                "email": "john.doe@example.com",
                "linkedin_link": "https://linkedin.com/abc/123",
                "attachments": [
                  {
                    "link": "http://abc.xyz/1",
                    "description": "CV"
                  },
                  {
                    "link": "http://abc.xyz/2",
                    "description": "Cover letter"
                  }
                ],
                "locality": "Praha",
                "sign_on": "immediate",
                "required_salary": 35000,
                "why": "I am the best!"
            }

+ Response 201 (application/hal+json)

        {
            "ok": true,
            "inserted": {
                "id": 7,
                "created": "2016-02-19T14:44:51+0100",
                "state": "new",
                "text": "I wanna be the very best, like noone ever was!",
                "locality": "Praha",
                "sign_on": "immediate",
                "required_salary": 35000,
                "name": "John Doe",
                "phone": "+420123456789",
                "email": "john.doe@example.com",
                "linkedin_link": "https://linkedin.com/abc/123",
                "_links": {
                    "self": {
                        "href": "\/api\/applications\/7"
                    }
                },
                "_embedded": {
                    "candidate": {
                        "id": 8,
                        "created": "2016-02-19T14:44:51+0100",
                        "name": "John Doe",
                        "email": "john.doe@example.com",
                        "hash": "ang-r0h-kpf",
                        "avatar": 5,
                        "_links": {
                            "self": {
                                "href": "\/api\/candidates\/8"
                            },
                            "job": {
                                "href": "\/api\/jobs\/1"
                            },
                            "company": {
                                "href": "\/api\/companies\/1"
                            }
                        },
                        "_embedded": {
                            "number_of_tests": 0,
                            "number_of_completed_tests": 0,
                            "last_completed_test_date": null,
                            "state": "inactive",
                            "contacts": []
                        }
                    },
                    "user": {
                        "id": 1,
                        "name": "John Doe",
                        "email": "john.doe@example.com",
                        "created": "2016-02-19T14:44:51+0100",
                        "_links": {
                            "self": {
                                "href": "\/api\/users\/1"
                            },
                            "companies": {
                                "href": "\/api\/companies?user_id=1"
                            },
                            "language": {
                                "href": "\/api\/languages\/cs"
                            }
                        },
                        "_embedded": {
                            "language": {
                                "id": "cs",
                                "_links": {
                                    "self": {
                                        "href": "\/api\/languages\/cs"
                                    }
                                }
                            }
                        }
                    },
                    "job_offer": {
                        "id": 1,
                        "created": "2016-02-19T14:44:51+0100",
                        "_links": {
                            "self": {
                                "href": "\/api\/job-offers\/1"
                            },
                            "company": {
                                "href": "\/api\/companies\/1"
                            },
                            "job": {
                                "href": "\/api\/jobs\/1"
                            }
                        },
                        "_embedded": {
                            "title": [],
                            "description": [],
                            "state": "awaiting-payment",
                            "state_category": "category-waiting",
                            "locations": [],
                            "new_application_mails": ["matej@example.com","filip@example.com"]
                        }
                    },
                    "application_state": {
                        "id": 1,
                        "order": 10,
                        "created": "2016-02-19T14:44:51+0100",
                        "_links": {
                            "self": {
                                "href": "\/api\/application-states\/1"
                            }
                        },
                        "_embedded": {
                            "title": {
                                "cs": "Nov\u00fd",
                                "en": "New"
                            }
                        }
                    },
                    "attachments": [
                        {
                            "id": 5,
                            "link": "http:\/\/abc.xyz\/1",
                            "description": "CV",
                            "_links": {
                                "self": {
                                    "href": "ApplicationAttachments:read"
                                },
                                "application": {
                                    "href": "\/api\/applications"
                                }
                            }
                        },
                        {
                            "id": 6,
                            "link": "http:\/\/abc.xyz\/2",
                            "description": "Cover letter",
                            "_links": {
                                "self": {
                                    "href": "ApplicationAttachments:read"
                                },
                                "application": {
                                    "href": "\/api\/applications"
                                }
                            }
                        }
                    ]
                }
            }
        }

## Company's Applications Collection [/api/companies/{company_id}/applications?limit={limit}&page={page}&sort={sort}&state={state}]

+ Parameters
    + company_id (number, required) - ID of the Company.
    + limit (number, optional) - Limits number of candidates returned in the request
    + page (number, optional) - Distance from beginning of the array of available candidates
    + sort (string, optional) - Sorts the result in the given order. The format for sort is "column+ASC,column+DESC"
    + state (string, optional) - Filters Applications by their state.

### List Company's Applications [GET]

Retrieves list of all Applications.

+ Response 200 (application/hal+json)

        {
            "_embedded": {
                "applications": [
                    {
                        "id": 1,
                        "created": "2016-02-06T21:19:57+0100",
                        "stars": 0,
                        "text": "I wanna be the very best, like noone ever was!",
                        "name": "John Doe",
                        "phone": "+420123456789",
                        "email": "john.doe@example.com",
                        "linkedin_link": "https://linkedin.com/abc/123",
                        "_links": {
                            "self": {
                                "href": "\/api\/applications\/1"
                            }
                        },
                        "_embedded": {
                            "candidate": {
                                "id": 1,
                                "created": "2016-02-06T21:19:57+0100",
                                "name": "Lloyd Brayton",
                                "email": "john.doe@example.com",
                                "note": "Note",
                                "hash": "aaa-aaa-aaa",
                                "avatar": "4",
                                "_links": {
                                    "self": {
                                        "href": "\/api\/candidates\/1"
                                    },
                                    "job": {
                                        "href": "\/api\/jobs\/1"
                                    },
                                    "company": {
                                        "href": "\/api\/companies\/1"
                                    }
                                },
                                "_embedded": {
                                    "number_of_tests": 6,
                                    "number_of_completed_tests": 4,
                                    "last_completed_test_date": null,
                                    "last_contact": {
                                      "created": "2015-12-14T14:01:53+0100",
                                      "text": "Vážený pane, Lorem ipsum..."
                                    },
                                    "state": "in_progress",
                                    "contacts": []
                                }
                            },
                            "user": {
                                "id": 2,
                                "name": "John Dgoe",
                                "email": "john.doe@example.com",
                                "created": "2016-02-06T21:19:57+0100",
                                "_links": {
                                    "self": {
                                        "href": "\/api\/users\/2"
                                    },
                                    "companies": {
                                        "href": "\/api\/companies?user_id=2"
                                    },
                                    "language": {
                                        "href": "\/api\/languages\/cs"
                                    }
                                },
                                "_embedded": {
                                    "language": {
                                        "id": "cs",
                                        "_links": {
                                            "self": {
                                                "href": "\/api\/languages\/cs"
                                            }
                                        }
                                    }
                                }
                            },
                            "job_offer": {
                                "id": 1,
                                "created": "2016-02-06T21:19:57+0100",
                                "location_string": "Praha, \u010cesk\u00e1 republika",
                                "_links": {
                                    "self": {
                                        "href": "\/api\/job-offers\/1"
                                    },
                                    "company": {
                                        "href": "\/api\/companies\/1"
                                    },
                                    "job": {
                                        "href": "\/api\/jobs\/1"
                                    }
                                },
                                "_embedded": {
                                    "title": [],
                                    "description": [],
                                    "state": "awaiting-payment",
                                    "state_category": "category-waiting"
                                }
                            },
                            "application_state": {
                                "id": 5,
                                "order": 50,
                                "created": "2016-02-06T21:19:57+0100",
                                "_links": {
                                    "self": {
                                        "href": "\/api\/application-states\/1"
                                    }
                                },
                                "_embedded": {
                                    "title": {
                                        "en": "Refused",
                                        "cs": "Odmítnut\u00fd"
                                    }
                                }
                            }
                        }
                    },
                    {
                        "id": 2,
                        "created": "2016-02-06T21:19:57+0100",
                        "stars": 0,
                        "text": "I wanna be the very best, like noone ever was!",
                        "name": "John Doe",
                        "phone": "+420123456789",
                        "email": "john.doe@example.com",
                        "linkedin_link": "https://linkedin.com/abc/123",
                        "_links": {
                            "self": {
                                "href": "\/api\/applications\/2"
                            }
                        },
                        "_embedded": {
                            "candidate": {
                                "id": 2,
                                "created": "2016-02-06T21:19:57+0100",
                                "name": "Donovan Luther",
                                "email": "john.doe@example.com",
                                "note": "Poznaaaaamk 1122333",
                                "hash": "aaa-aaa-aaa",
                                "avatar": "4",
                                "_links": {
                                    "self": {
                                        "href": "\/api\/candidates\/2"
                                    },
                                    "job": {
                                        "href": "\/api\/jobs\/1"
                                    },
                                    "company": {
                                        "href": "\/api\/companies\/1"
                                    }
                                },
                                "_embedded": {
                                    "number_of_tests": 3,
                                    "number_of_completed_tests": 3,
                                    "last_completed_test_date": null,
                                    "state": "completed",
                                    "contacts": []
                                }
                            },
                            "user": {
                                "id": 3,
                                "name": "John Doe",
                                "email": "john.doe@example.com",
                                "created": "2016-02-06T21:19:57+0100",
                                "_links": {
                                    "self": {
                                        "href": "\/api\/users\/3"
                                    },
                                    "companies": {
                                        "href": "\/api\/companies?user_id=3"
                                    },
                                    "language": {
                                        "href": "\/api\/languages\/cs"
                                    }
                                },
                                "_embedded": {
                                    "language": {
                                        "id": "cs",
                                        "_links": {
                                            "self": {
                                                "href": "\/api\/languages\/cs"
                                            }
                                        }
                                    }
                                }
                            },
                            "job_offer": {
                                "id": 1,
                                "created": "2016-02-06T21:19:57+0100",
                                "location_string": "Praha, \u010cesk\u00e1 republika",
                                "_links": {
                                    "self": {
                                        "href": "\/api\/job-offers\/1"
                                    },
                                    "company": {
                                        "href": "\/api\/companies\/1"
                                    },
                                    "job": {
                                        "href": "\/api\/jobs\/1"
                                    }
                                },
                                "_embedded": {
                                    "title": [],
                                    "description": [],
                                    "state": "awaiting-payment",
                                    "state_category": "category-waiting"
                                }
                            },
                            "application_state": {
                                "id": 1,
                                "order": 10,
                                "created": "2016-02-06T21:19:57+0100",
                                "_links": {
                                    "self": {
                                        "href": "\/api\/application-states\/2"
                                    }
                                },
                                "_embedded": {
                                    "title": {
                                        "en": "New",
                                        "cs": "Nov\u00ed"
                                    }
                                }
                            }
                        }
                    },
                    {
                        "id": 3,
                        "created": "2016-02-06T21:19:57+0100",
                        "stars": 3,
                        "text": "I wanna be the very best, like noone ever was!",
                        "name": "John Doe",
                        "phone": "+420123456789",
                        "email": "john.doe@example.com",
                        "linkedin_link": "https://linkedin.com/abc/123",
                        "_links": {
                            "self": {
                                "href": "\/api\/applications\/3"
                            }
                        },
                        "_embedded": {
                            "candidate": {
                                "id": 3,
                                "created": "2016-02-06T21:19:57+0100",
                                "name": "Jeromy Belt",
                                "email": "john.doe@example.com",
                                "note": "Note",
                                "hash": "aaa-aaa-aaa",
                                "avatar": "4",
                                "_links": {
                                    "self": {
                                        "href": "\/api\/candidates\/1"
                                    },
                                    "job": {
                                        "href": "\/api\/jobs\/1"
                                    },
                                    "company": {
                                        "href": "\/api\/companies\/1"
                                    }
                                },
                                "_embedded": {
                                    "number_of_tests": 8,
                                    "number_of_completed_tests": 2,
                                    "last_completed_test_date": null,
                                    "state": "inactive",
                                    "contacts": []
                                }
                            },
                            "user": {
                                "id": 2,
                                "name": "John Doe",
                                "email": "john.doe@example.com",
                                "created": "2016-02-06T21:19:57+0100",
                                "_links": {
                                    "self": {
                                        "href": "\/api\/users\/2"
                                    },
                                    "companies": {
                                        "href": "\/api\/companies?user_id=2"
                                    },
                                    "language": {
                                        "href": "\/api\/languages\/cs"
                                    }
                                },
                                "_embedded": {
                                    "language": {
                                        "id": "cs",
                                        "_links": {
                                            "self": {
                                                "href": "\/api\/languages\/cs"
                                            }
                                        }
                                    }
                                }
                            },
                            "job_offer": {
                                "id": 1,
                                "created": "2016-02-06T21:19:57+0100",
                                "location_string": "Praha, \u010cesk\u00e1 republika",
                                "_links": {
                                    "self": {
                                        "href": "\/api\/job-offers\/1"
                                    },
                                    "company": {
                                        "href": "\/api\/companies\/1"
                                    },
                                    "job": {
                                        "href": "\/api\/jobs\/1"
                                    }
                                },
                                "_embedded": {
                                    "title": [],
                                    "description": [],
                                    "state": "awaiting-payment",
                                    "state_category": "category-waiting"
                                }
                            },
                            "application_state": {
                                "id": 2,
                                "order": 20,
                                "created": "2016-02-06T21:19:57+0100",
                                "_links": {
                                    "self": {
                                        "href": "\/api\/application-states\/1"
                                    }
                                },
                                "_embedded": {
                                    "title": {
                                        "en": "Active",
                                        "cs": "Aktivn\u00ed"
                                    }
                                }
                            }
                        }
                    },
                    {
                        "id": 4,
                        "created": "2016-02-06T21:19:57+0100",
                        "stars": 2,
                        "text": "I wanna be the very best, like noone ever was!",
                        "name": "John Doe",
                        "phone": "+420123456789",
                        "email": "john.doe@example.com",
                        "linkedin_link": "https://linkedin.com/abc/123",
                        "_links": {
                            "self": {
                                "href": "\/api\/applications\/1"
                            }
                        },
                        "_embedded": {
                            "candidate": {
                                "id": 4,
                                "created": "2016-02-06T21:19:57+0100",
                                "name": "Tanner Kreider",
                                "email": "john.doe@example.com",
                                "note": "Note",
                                "hash": "aaa-aaa-aaa",
                                "avatar": "4",
                                "_links": {
                                    "self": {
                                        "href": "\/api\/candidates\/1"
                                    },
                                    "job": {
                                        "href": "\/api\/jobs\/1"
                                    },
                                    "company": {
                                        "href": "\/api\/companies\/1"
                                    }
                                },
                                "_embedded": {
                                    "number_of_tests": 14,
                                    "number_of_completed_tests": 10,
                                    "last_completed_test_date": null,
                                    "state": "inactive",
                                    "contacts": []
                                }
                            },
                            "user": {
                                "id": 2,
                                "name": "John Doe",
                                "email": "john.doe@example.com",
                                "created": "2016-02-06T21:19:57+0100",
                                "_links": {
                                    "self": {
                                        "href": "\/api\/users\/2"
                                    },
                                    "companies": {
                                        "href": "\/api\/companies?user_id=2"
                                    },
                                    "language": {
                                        "href": "\/api\/languages\/cs"
                                    }
                                },
                                "_embedded": {
                                    "language": {
                                        "id": "cs",
                                        "_links": {
                                            "self": {
                                                "href": "\/api\/languages\/cs"
                                            }
                                        }
                                    }
                                }
                            },
                            "job_offer": {
                                "id": 1,
                                "created": "2016-02-06T21:19:57+0100",
                                "location_string": "Praha, \u010cesk\u00e1 republika",
                                "_links": {
                                    "self": {
                                        "href": "\/api\/job-offers\/1"
                                    },
                                    "company": {
                                        "href": "\/api\/companies\/1"
                                    },
                                    "job": {
                                        "href": "\/api\/jobs\/1"
                                    }
                                },
                                "_embedded": {
                                    "title": [],
                                    "description": [],
                                    "state": "awaiting-payment",
                                    "state_category": "category-waiting"
                                }
                            },
                            "application_state": {
                                "id": 2,
                                "order": 20,
                                "created": "2016-02-06T21:19:57+0100",
                                "_links": {
                                    "self": {
                                        "href": "\/api\/application-states\/1"
                                    }
                                },
                                "_embedded": {
                                    "title": {
                                        "en": "Active",
                                        "cs": "Aktivn\u00ed"
                                    }
                                }
                            }
                        }
                    },
                    {
                        "id": 5,
                        "created": "2016-02-06T21:19:57+0100",
                        "state": "new",
                        "stars": 5,
                        "text": "I wanna be the very best, like noone ever was!",
                        "name": "John Doe",
                        "phone": "+420123456789",
                        "email": "john.doe@example.com",
                        "linkedin_link": "https://linkedin.com/abc/123",
                        "_links": {
                            "self": {
                                "href": "\/api\/applications\/1"
                            }
                        },
                        "_embedded": {
                            "candidate": {
                                "id": 5,
                                "created": "2016-02-06T21:19:57+0100",
                                "name": "Dwain Raulerson",
                                "email": "john.doe@example.com",
                                "note": "Note",
                                "hash": "aaa-aaa-aaa",
                                "avatar": "4",
                                "_links": {
                                    "self": {
                                        "href": "\/api\/candidates\/1"
                                    },
                                    "job": {
                                        "href": "\/api\/jobs\/1"
                                    },
                                    "company": {
                                        "href": "\/api\/companies\/1"
                                    }
                                },
                                "_embedded": {
                                    "number_of_tests": 7,
                                    "number_of_completed_tests": 7,
                                    "last_completed_test_date": null,
                                    "state": "inactive"
                                }
                            },
                            "user": {
                                "id": 2,
                                "name": "John Doe",
                                "email": "john.doe@example.com",
                                "created": "2016-02-06T21:19:57+0100",
                                "_links": {
                                    "self": {
                                        "href": "\/api\/users\/2"
                                    },
                                    "companies": {
                                        "href": "\/api\/companies?user_id=2"
                                    },
                                    "language": {
                                        "href": "\/api\/languages\/cs"
                                    }
                                },
                                "_embedded": {
                                    "language": {
                                        "id": "cs",
                                        "_links": {
                                            "self": {
                                                "href": "\/api\/languages\/cs"
                                            }
                                        }
                                    }
                                }
                            },
                            "job_offer": {
                                "id": 1,
                                "created": "2016-02-06T21:19:57+0100",
                                "location_string": "Praha, \u010cesk\u00e1 republika",
                                "_links": {
                                    "self": {
                                        "href": "\/api\/job-offers\/1"
                                    },
                                    "company": {
                                        "href": "\/api\/companies\/1"
                                    },
                                    "job": {
                                        "href": "\/api\/jobs\/1"
                                    }
                                },
                                "_embedded": {
                                    "title": [],
                                    "description": [],
                                    "state": "awaiting-payment",
                                    "state_category": "category-waiting"
                                }
                            },
                            "application_state": {
                                "id": 2,
                                "order": 20,
                                "created": "2016-02-06T21:19:57+0100",
                                "_links": {
                                    "self": {
                                        "href": "\/api\/application-states\/1"
                                    }
                                },
                                "_embedded": {
                                    "title": {
                                        "en": "Active",
                                        "cs": "Aktivn\u00ed"
                                    }
                                }
                            }
                        }
                    }
                ],
                "number_of_applications_in_state": {
                    "data": [
                        {
                            "application_state_id": 1,
                            "number_of_applications": 1
                        },
                        {
                            "application_state_id": 2,
                            "number_of_applications": 3
                        },
                        {
                            "application_state_id": 3,
                            "number_of_applications": 0
                        },
                        {
                            "application_state_id": 4,
                            "number_of_applications": 0
                        },
                        {
                            "application_state_id": 5,
                            "number_of_applications": 1
                        }
                    ]
                }
            }
        }


## Job Offer's Applications Collection [/api/job-offers/{job_offer_id}/applications?limit={limit}&page={page}&sort={sort}&state={state}]

+ Parameters
    + job_offer_id (number, required) - ID of the Job Offer. 
    + limit (number, optional) - Limits number of candidates returned in the request
    + page (number, optional) - Distance from beginning of the array of available candidates
    + sort (string, optional) - Sorts the result in the given order. The format for sort is "column+ASC,column+DESC"
    + state (string, optional) - Filters Applications by their state.

### List Job Offer's Applications [GET]

Retrieves list of all Applications.

+ Response 200 (application/hal+json)

        {
            "_embedded": {
                "applications": [
                    {
                        "id": 1,
                        "created": "2016-02-06T21:19:57+0100",
                        "state": "new",
                        "stars": 3,
                        "text": "I wanna be the very best, like noone ever was!",
                        "name": "John Doe",
                        "phone": "+420123456789",
                        "email": "john.doe@example.com",
                        "linkedin_link": "https://linkedin.com/abc/123",
                        "_links": {
                            "self": {
                                "href": "\/api\/applications\/1"
                            }
                        },
                        "_embedded": {
                            "candidate": {
                                "id": 1,
                                "created": "2016-02-06T21:19:57+0100",
                                "name": "Marcus Keller",
                                "email": "john.doe@example.com",
                                "note": "Note",
                                "hash": "aaa-aaa-aaa",
                                "avatar": "4",
                                "_links": {
                                    "self": {
                                        "href": "\/api\/candidates\/1"
                                    },
                                    "job": {
                                        "href": "\/api\/jobs\/1"
                                    },
                                    "company": {
                                        "href": "\/api\/companies\/1"
                                    }
                                },
                                "_embedded": {
                                    "number_of_tests": 11,
                                    "number_of_completed_tests": 9,
                                    "last_completed_test_date": null,
                                    "state": "inactive",
                                    "contacts": []
                                }
                            },
                            "user": {
                                "id": 2,
                                "name": "John Doe",
                                "email": "john.doe@example.com",
                                "created": "2016-02-06T21:19:57+0100",
                                "_links": {
                                    "self": {
                                        "href": "\/api\/users\/2"
                                    },
                                    "companies": {
                                        "href": "\/api\/companies?user_id=2"
                                    },
                                    "language": {
                                        "href": "\/api\/languages\/cs"
                                    }
                                },
                                "_embedded": {
                                    "language": {
                                        "id": "cs",
                                        "_links": {
                                            "self": {
                                                "href": "\/api\/languages\/cs"
                                            }
                                        }
                                    }
                                }
                            },
                            "job_offer": {
                                "id": 1,
                                "created": "2016-02-06T21:19:57+0100",
                                "location_string": "Praha, \u010cesk\u00e1 republika",
                                "_links": {
                                    "self": {
                                        "href": "\/api\/job-offers\/1"
                                    },
                                    "company": {
                                        "href": "\/api\/companies\/1"
                                    },
                                    "job": {
                                        "href": "\/api\/jobs\/1"
                                    }
                                },
                                "_embedded": {
                                    "title": [],
                                    "description": [],
                                    "state": "awaiting-payment",
                                    "state_category": "category-waiting"
                                }
                            },
                            "application_state": {
                                "id": 1,
                                "order": 10,
                                "created": "2016-02-06T21:19:57+0100",
                                "_links": {
                                    "self": {
                                        "href": "\/api\/application-states\/1"
                                    }
                                },
                                "_embedded": {
                                    "title": {
                                        "en": "New",
                                        "cs": "Nov\u00fd"
                                    }
                                }
                            }
                        }
                    },
                    {
                        "id": 2,
                        "created": "2016-02-06T21:19:57+0100",
                        "state": "new",
                        "stars": 1,
                        "text": "I wanna be the very best, like noone ever was!",
                        "name": "John Doe",
                        "phone": "+420123456789",
                        "email": "john.doe@example.com",
                        "linkedin_link": "https://linkedin.com/abc/123",
                        "_links": {
                            "self": {
                                "href": "\/api\/applications\/2"
                            }
                        },
                        "_embedded": {
                            "candidate": {
                                "id": 2,
                                "created": "2016-02-06T21:19:57+0100",
                                "name": "Jim Klapper",
                                "email": "john.doe@example.com",
                                "note": "Note",
                                "hash": "aaa-aaa-aaa",
                                "avatar": "4",
                                "_links": {
                                    "self": {
                                        "href": "\/api\/candidates\/2"
                                    },
                                    "job": {
                                        "href": "\/api\/jobs\/1"
                                    },
                                    "company": {
                                        "href": "\/api\/companies\/1"
                                    }
                                },
                                "_embedded": {
                                    "number_of_tests": 3,
                                    "number_of_completed_tests": 3,
                                    "last_completed_test_date": null,
                                    "state": "inactive",
                                    "contacts": []
                                }
                            },
                            "user": {
                                "id": 3,
                                "name": "John Doe",
                                "email": "john.doe@example.com",
                                "created": "2016-02-06T21:19:57+0100",
                                "_links": {
                                    "self": {
                                        "href": "\/api\/users\/3"
                                    },
                                    "companies": {
                                        "href": "\/api\/companies?user_id=3"
                                    },
                                    "language": {
                                        "href": "\/api\/languages\/cs"
                                    }
                                },
                                "_embedded": {
                                    "language": {
                                        "id": "cs",
                                        "_links": {
                                            "self": {
                                                "href": "\/api\/languages\/cs"
                                            }
                                        }
                                    }
                                }
                            },
                            "job_offer": {
                                "id": 1,
                                "created": "2016-02-06T21:19:57+0100",
                                "location_string": "Praha, \u010cesk\u00e1 republika",
                                "_links": {
                                    "self": {
                                        "href": "\/api\/job-offers\/1"
                                    },
                                    "company": {
                                        "href": "\/api\/companies\/1"
                                    },
                                    "job": {
                                        "href": "\/api\/jobs\/1"
                                    }
                                },
                                "_embedded": {
                                    "title": [],
                                    "description": [],
                                    "state": "awaiting-payment",
                                    "state_category": "category-waiting"
                                }
                            },
                            "application_state": {
                                "id": 2,
                                "order": 20,
                                "created": "2016-02-06T21:19:57+0100",
                                "_links": {
                                    "self": {
                                        "href": "\/api\/application-states\/2"
                                    }
                                },
                                "_embedded": {
                                    "title": {
                                        "en": "Active",
                                        "cs": "Aktivn\u00ed"
                                    }
                                }
                            }
                        }
                    }
                ],
                "number_of_applications_in_state": {
                    "data": [
                        {
                            "application_state_id": 1,
                            "number_of_applications": 1
                        },
                        {
                            "application_state_id": 2,
                            "number_of_applications": 1
                        },
                        {
                            "application_state_id": 3,
                            "number_of_applications": 0
                        },
                        {
                            "application_state_id": 4,
                            "number_of_applications": 0
                        },
                        {
                            "application_state_id": 5,
                            "number_of_applications": 0
                        }
                    ]
                }
            }
        }


## User's Applications Collection [/api/users/{user_id}/applications?limit={limit}&page={page}&sort={sort}&state={state}]

+ Parameters
    + user_id (number, required) - ID of the User. 
    + limit (number, optional) - Limits number of candidates returned in the request
    + page (number, optional) - Distance from beginning of the array of available candidates
    + sort (string, optional) - Sorts the result in the given order. The format for sort is "column+ASC,column+DESC"
    + state (string, optional) - Filters Applications by their state.

### List User's Applications [GET]

Retrieves list of all Applications.

+ Response 200 (application/hal+json)
        
        {
            "_embedded": {
                "applications": [{
                    "id": 1,
                    "created": "2016-02-06T21:19:57+0100",
                    "state": "new",
                    "text": "I wanna be the very best, like noone ever was!",
                    "name": "John Doe",
                    "phone": "+420123456789",
                    "email": "john.doe@example.com",
                    "linkedin_link": "https://linkedin.com/abc/123",
                    "_embedded": {
                        "job_offer": {
                            "id": 1,
                            "created": "2016-02-06T21:19:57+0100",
                            "_embedded": {
                                "title": {
                                  "cs": "Job title",
                                  "en": "Job title En"
                                },
                                "description": [],
                                "state": "active",
                                "state_category": "category-active",
                                "company": {
                                  "id": 1,
                                  "name": "Hiri.cz",
                                  "webalized": "hiri-cz",
                                  "created": "2016-02-17T14:07:35+0100",
                                  "logo": "http://loremflickr.com/120/80",
                                  "cover_image": "http://loremflickr.com/1140/450",
                                  "description": {
                                    "cs": "Lorem ipsum, ..."
                                  }
                                },
                                "locations": [
                                  "Praha"
                                ]
                            }
                        }
                    }
                }, {
                    "id": 2,
                    "created": "2016-02-06T21:19:57+0100",
                    "state": "refused",
                    "refused": "2016-03-15T18:19:57+0100",
                    "text": "I wanna be the very best, like noone ever was!",
                    "name": "John Doe",
                    "phone": "+420123456789",
                    "email": "john.doe@example.com",
                    "linkedin_link": "https://linkedin.com/abc/123",
                    "_links": {
                        "self": {
                            "href": "\/api\/applications\/2"
                        }
                    },
                    "_embedded": {
                        "job_offer": {
                            "id": 2,
                            "created": "2016-02-06T21:19:57+0100",
                            "_embedded": {
                                "title": {
                                  "cs": "Job title 2",
                                  "en": "Job title En 2"
                                },
                                "description": [],
                                "state": "active",
                                "state_category": "category-active",
                                "company": {
                                  "id": 1,
                                  "name": "Hiri.cz",
                                  "webalized": "hiri-cz",
                                  "created": "2016-02-17T14:07:35+0100",
                                  "logo": "http://loremflickr.com/120/80",
                                  "cover_image": "http://loremflickr.com/1140/450",
                                  "description": {
                                    "cs": "Lorem ipsum, ..."
                                  }
                                },
                                "locations": [
                                  "Praha"
                                ]
                            }
                        }
                    }
                }, {
                    "id": 3,
                    "created": "2016-02-06T21:19:57+0100",
                    "state": "accepted",
                    "accepted": "2016-05-11T10:55:57+0100",
                    "text": "I wanna be the very best, like noone ever was!",
                    "name": "John Doe",
                    "phone": "+420123456789",
                    "email": "john.doe@example.com",
                    "linkedin_link": "https://linkedin.com/abc/123",
                    "_links": {
                        "self": {
                            "href": "\/api\/applications\/2"
                        }
                    },
                    "_embedded": {
                        "job_offer": {
                            "id": 3,
                            "created": "2016-02-06T21:19:57+0100",
                            "_embedded": {
                                "title": {
                                  "cs": "Job title 3",
                                  "en": "Job title En 3"
                                },
                                "description": [],
                                "state": "active",
                                "state_category": "category-active",
                                "company": {
                                  "id": 1,
                                  "name": "Hiri.cz",
                                  "webalized": "hiri-cz",
                                  "created": "2016-02-17T14:07:35+0100",
                                  "logo": "http://loremflickr.com/120/80",
                                  "cover_image": "http://loremflickr.com/1140/450",
                                  "description": {
                                    "cs": "Lorem ipsum, ..."
                                  }
                                },
                                "locations": [
                                  "Praha"
                                ]
                            }
                        }
                    }
                }, {
                    "id": 4,
                    "created": "2016-02-06T21:19:57+0100",
                    "state": "active",
                    "text": "I wanna be the very best, like noone ever was!",
                    "name": "John Doe",
                    "phone": "+420123456789",
                    "email": "john.doe@example.com",
                    "linkedin_link": "https://linkedin.com/abc/123",
                    "_links": {
                        "self": {
                            "href": "\/api\/applications\/2"
                        }
                    },
                    "_embedded": {
                        "application_view": {
                          "id": 1,
                          "created": "2016-04-11T15:05:57+0100"
                        },
                        "job_offer": {
                            "id": 2,
                            "created": "2016-02-06T21:19:57+0100",
                            "_embedded": {
                                "title": {
                                  "cs": "Job title 2",
                                  "en": "Job title En 3"
                                },
                                "description": [],
                                "state": "active",
                                "state_category": "category-active",
                                "company": {
                                  "id": 1,
                                  "name": "Hiri.cz",
                                  "webalized": "hiri-cz",
                                  "created": "2016-02-17T14:07:35+0100",
                                  "logo": "http://loremflickr.com/120/80",
                                  "cover_image": "http://loremflickr.com/1140/450",
                                  "description": {
                                    "cs": "Lorem ipsum, ..."
                                  }
                                },
                                "locations": [
                                  "Praha"
                                ]
                            }
                        }
                    }
                }]
            }
        }        



## Application [/api/applications/{id}]

+ Attributes
    + id (number, required) - ID of the Application.
    + state (string, required) - State of the Application. Can be 'new', 'active', 'interview', 'accepted' and 'refused'.
    + stars (number, optional) - Number of stars of the Application - used for internal rating. Can be null.
    + text (string, optional) - Text of the Application summarizing the candidate and why he is suitable for the job.
    + locality (string, optional) - Location of the User.
    + sign_on (string, optional) - When the user can sign on. The values are 'immediate', 'two-weeks', 'month', two-months', 'more-than-two-months'
    + required_salary (number, optional) - Required salary of the User.
    + seen (string, optional) - Date when the application was seen by the Company Administrators.
    + linkedin_link (string, optional) - Link to linkedin profile.
    + phone (string, optional) - Phone number of the Applicant
    + price (number, required) - Price of the application. Internal param.
    + why (string, required) - Motivational letter, why the Applicant should be hired.
    + embedded.application_state (object, required) - State of the Applicaiton. The state is dynamic, defined by the Company.
    + embedded.candidate (object, required) - Candidate entity.
    + embedded.job_offer (object, required) - Job Offer to which the Application belongs.
    + embedded.user (object, required) - User to which the Application belongs.
    + embedded.attachments (array, required) - All attachments of the Application.
    + embedded.application_state_changes (array, required) - All ApplicationStateChanges of the Application.

+ Parameters
    + id (number, required) - ID of the Application.

### Retrieve an Application [GET]

Retrieves an Application with given ID.

+ Response 200 (application/hal+json)

        {
            "id": 1,
            "created": "2016-02-19T14:44:59+0100",
            "state": "new",
            "text": "I wanna be the very best, like noone ever was!",
            "locality": "Horní Dolní",
            "sign_on": "two-weeks",
            "required_salary": 35000,
            "name": "John Doe",
            "phone": "+420123456789",
            "email": "john.doe@example.com",
            "linkedin_link": "https://linkedin.com/abc/123",
            "_links": {
                "self": {
                    "href": "\/api\/applications\/1"
                }
            },
            "_embedded": {
                "candidate": {
                    "id": 1,
                    "created": "2015-12-14T14:01:53+0100",
                    "name": "John Doe",
                    "email": "john.doe@example.com",
                    "note": "Note",
                    "hash": "aaa-aaa-aaa",
                    "avatar": "4",
                    "linkedin_link": "https://linkedin.com/abc/1234",
                    "phone": "+420123456789",
                    "_links": {
                        "self": {
                            "href": "\/api\/candidates\/1"
                        },
                        "job": {
                            "href": "\/api\/jobs\/1"
                        },
                        "company": {
                            "href": "\/api\/companies\/1"
                        },
                        "user": {
                            "href": "\/api\/users\/1"
                        }
                    },
                    "_embedded": {
                        "job": {
                            "id": 1,
                            "created": "2015-12-14T14:01:53+0100",
                            "open_from": "2015-10-10T14:39:09+0200",
                            "open_to": "2016-02-28T17:04:52+0100",
                            "can_candidate_use_other_cute_languages": true,
                            "_links": {
                                "self": {
                                    "href": "\/api\/jobs\/1"
                                },
                                "company": {
                                    "href": "\/api\/companies\/1"
                                },
                                "candidates": {
                                    "href": "\/api\/candidates?job_id=1"
                                }
                            },
                            "_embedded": {
                                "title": {
                                    "cs": "Hled\u00e1me Node.js developera",
                                    "en": "We are looking for a Node.js developer"
                                },
                                "description": {
                                    "cs": "Pod\u00edlej se na v\u00fdvoji nov\u00e9ho pracovn\u00edho port\u00e1lu, kter\u00fd zm\u011bn\u00ed \u010desk\u00fd trh s prac\u00ed.",
                                    "en": "Help us build a revolutionary job portal!"
                                },
                                "intro": [],
                                "state": "open",
                                "number_of_candidates": 1,
                                "number_of_completed_candidates": 0,
                                "number_of_tests": 4,
                                "tests": [
                                    {
                                        "id": 1,
                                        "type": "one-page",
                                        "number_of_questions": 4,
                                        "maximum_time": 300,
                                        "logo": "http://localhost:8080/images/test-placeholders/placeholder_testu1.svg",
                                        "shuffle_questions": true,
                                        "_embedded": {
                                            "average_fill_time": 250,
                                            "questions_count": 10,
                                            "name": {
                                                "cs": "Znalostní test",
                                                "en": "Knowledge test"
                                            }
                                        }
                                    },
                                    {
                                        "id": 2,
                                        "type": "one-page",
                                        "number_of_questions": 4,
                                        "maximum_time": 1900,
                                        "logo": "http://localhost:8080/images/test-placeholders/placeholder_testu2.svg",
                                        "shuffle_questions": true,
                                        "_embedded": {
                                            "average_fill_time": 1575,
                                            "questions_count": 20,
                                            "name": {
                                                "cs": "HTML",
                                                "en": "HTML"
                                            }
                                        }
                                    }
                                ],
                                "cute_tests": [
                                    {
                                        "id": 1,
                                        "_links": {
                                            "self": {
                                                "href": "\/api\/cute-tests\/1"
                                            }
                                        },
                                        "_embedded": {
                                            "name": {
                                                "cs": "Logické myšlení",
                                                "en": "Logical thinking"
                                            },
                                            "intro": {
                                                "en": "Lorem ipsum...",
                                                "cs": "Lorem ipsum..."
                                            }
                                        }
                                    },
                                    {
                                        "id": 2,
                                        "_links": {
                                            "self": {
                                                "href": "\/api\/cute-tests\/2"
                                            }
                                        },
                                        "_embedded": {
                                            "name": {
                                                "cs": "Měření kompetencí",
                                                "en": "Competencies"
                                            },
                                            "intro": {
                                                "en": "Lorem ipsum...",
                                                "cs": "Lorem ipsum..."
                                            }
                                        }
                                    }
                                ]
                            }
                        },
                        "company": {
                            "id": 1,
                            "name": "Hiri.cz",
                            "webalized": "hiri-cz",
                            "created": "2015-12-14T14:01:53+0100",
                            "_links": {
                                "self": {
                                    "href": "\/api\/companies\/1"
                                },
                                "jobs": {
                                    "href": "\/api\/jobs?company_id=1"
                                },
                                "jobs:active": {
                                    "href": "\/api\/jobs?company_id=1&active=1"
                                }
                            }
                        },
                        "user": {
                            "id": 1,
                            "name": "John Doe",
                            "email": "john.doe@example.com",
                            "created": "2015-12-14T14:01:53+0100",
                            "_links": {
                                "self": {
                                    "href": "\/api\/users\/1"
                                },
                                "companies": {
                                    "href": "\/api\/companies?user_id=1"
                                },
                                "language": {
                                    "href": "\/api\/languages\/cs"
                                }
                            },
                            "_embedded": {
                                "user_profile": {
                                    "id": 1,
                                    "profile_picture": "http://example.com/abc/123",
                                    "linkedin_link": "https://linkedin.com/abc/123",
                                    "facebook_link": "https://linkedin.com/abc/123",
                                    "twitter_link": "https://linkedin.com/abc/123",
                                    "created": "2016-02-06T21:19:57+0100"
                                }
                            }
                        },
                        "cute_test_fills": [
                            {
                                "id": 1,
                                "start": "2015-11-19T10:53:48+0100",
                                "end": "2015-11-19T11:03:54+0100",
                                "score_number": 10,
                                "redirect_url": "http:\/\/example.com\/",
                                "test_url": "http:\/\/www.cut-e.net\/maptq\/ws\/ws_req.aspx?reqid=81C26FA4-6A5E-4DEC-9A69-700A5B5BF4B5",
                                "_embedded": {
                                    "completed": true,
                                    "state": "completed",
                                    "result_description": "consistency_high",
                                    "cute_test": {
                                        "id": 2,
                                        "_links": {
                                            "self": {
                                                "href": "\/api\/cute-tests\/2"
                                            }
                                        },
                                        "_embedded": {
                                            "name": {
                                                "cs": "Měření kompetencí",
                                                "en": "Competencies"
                                            },
                                            "intro": {
                                                "en": "Lorem ipsum...",
                                                "cs": "Lorem ipsum..."
                                            },
                                            "result_type": "shapes"
                                        }
                                    }
                                }
                            },
                            {
                                "id": 3,
                                "start": "2015-11-19T10:53:48+0100",
                                "end": "2015-11-19T11:03:54+0100",
                                "score_number": 85,
                                "redirect_url": "http:\/\/example.com\/",
                                "test_url": "http:\/\/www.cut-e.net\/maptq\/ws\/ws_req.aspx?reqid=81C26FA4-6A5E-4DEC-9A69-700A5B5BF4B5",
                                "_embedded": {
                                    "completed": true,
                                    "state": "completed",
                                    "result_description": "percentile",
                                    "cute_test": {
                                        "id": 3,
                                        "_links": {
                                            "self": {
                                                "href": "\/api\/cute-tests\/3"
                                            }
                                        },
                                        "_embedded": {
                                            "name": {
                                                "cs": "Deduktivně-logické myšlení",
                                                "en": "Deductively-logical thinking"
                                            },
                                            "intro": {
                                                "en": "Lorem ipsum...",
                                                "cs": "Lorem ipsum..."
                                            },
                                            "result_type": "oi"
                                        }
                                    }
                                }
                            },
                            {
                                "id": 2,
                                "start": "2015-11-19T10:53:48+0100",
                                "redirect_url": "http:\/\/example.com\/",
                                "test_url": "http:\/\/www.cut-e.net\/maptq\/ws\/ws_req.aspx?reqid=81C26FA4-6A5E-4DEC-9A69-700A5B5BF4B5",
                                "_embedded": {
                                    "completed": true,
                                    "state": "blocked",
                                    "cute_test": {
                                        "id": 1,
                                        "_links": {
                                            "self": {
                                                "href": "\/api\/cute-tests\/1"
                                            }
                                        },
                                        "_embedded": {
                                            "name": {
                                                "cs": "Logické myšlení",
                                                "en": "Logical thinking"
                                            },
                                            "intro": {
                                                "en": "Lorem ipsum...",
                                                "cs": "Lorem ipsum..."
                                            },
                                            "result_type": "oi"
                                        }
                                    }
                                }
                            },
                            {
                                "id": 12,
                                "start": "2015-11-19T10:53:48+0100",
                                "redirect_url": "http:\/\/example.com\/",
                                "test_url": "http:\/\/www.cut-e.net\/maptq\/ws\/ws_req.aspx?reqid=81C26FA4-6A5E-4DEC-9A69-700A5B5BF4B5",
                                "_embedded": {
                                    "completed": false,
                                    "state": "in_progress",
                                    "cute_test": {
                                        "id": 5,
                                        "_links": {
                                            "self": {
                                                "href": "\/api\/cute-tests\/5"
                                            }
                                        },
                                        "_embedded": {
                                            "name": {
                                                "cs": "Cute Test 5",
                                                "en": "Cute Test 5"
                                            },
                                            "intro": {
                                                "en": "Lorem ipsum...",
                                                "cs": "Lorem ipsum..."
                                            },
                                            "result_type": "oi"
                                        }
                                    }
                                }
                            }
                        ],
                        "test_fills": [
                            {
                                "id": 9,
                                "start": "2015-12-14T14:01:52+0100",
                                "_links": {
                                    "self": {
                                        "href": "\/api\/test-fills\/1"
                                    },
                                    "test": {
                                        "href": "\/api\/tests\/1"
                                    },
                                    "drawn_questions": {
                                        "href": "\/api\/drawn-questions"
                                    }
                                },
                                "_embedded": {
                                    "completed": false,
                                    "state": "in_progress",
                                    "test": {
                                        "id": 1,
                                        "type": "one-page",
                                        "number_of_questions": 4,
                                        "maximum_time": 300,
                                        "shuffle_questions": true,
                                        "logo": "http://localhost:8080/images/test-placeholders/placeholder_testu1.svg",
                                        "_links": {
                                            "self": {
                                                "href": "\/api\/tests\/1"
                                            }
                                        },
                                        "_embedded": {
[...]
